{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-md-center">&nbsp;</div>
    <div class="row justify-content-md-center">
        <div class="col-4 login_form">
            <h2>Bienvenue à lgactivities</h2>
            {% if not request.user.is_authenticated %}
                <form method="post" action="{% url 'profiles:login' %}">
                    {% csrf_token %}
{#                    {{ form|crispy }}#}
                    {{ form.as_p }}
                    <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}/{% endif %}" />
                    <button type="submit" class="btn btn-primary"> Log in  </button>
                </form>
                <br>
            {% else %}
                <p>Vous êtes déjà logged in. Voulez-vous <a href='{% url 'profiles:logout' %}'>logout</a>?</p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-md-center">&nbsp;</div>
{% endblock %}
