/* messages*/
.success {
  color: green;
}
.warning {
  color: Blue;
}
.error {
  color: red;
}

/* dataTable*/
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    right: 0em;
    content: url('images/sort_asc.png') ;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    right: 0em;
    content: url('images/sort_desc.png');
}
table.dataTable .current_effort {
  background: #ccffff;
}

/* leafletmap */
#mapid {  /* all maps */
  height: 400px;
}

/* Calendar*/
.calendar {
  width: 100%;
  margin: auto;
  font-size: 12px;
  color: #ff8033;
  border-collapse:separate;
/*  border: solid black 1px;
  border-radius:10px;*/
  border-spacing: 2px;
}

/*.calendar tr, .calendar td {
  border: 1px solid black;
}*/

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background: #262626;
  border-radius:10px;
/*  background: #f2f2f2;*/
/*  background: white;*/
}

.calendar td {
  width: 180px;
  height: 100px;
  padding: 20px 0px 0px 5px;
  border-radius:10px;
}

.month {
  font-size: 24px;
}
.year {
  font-size: 25px;
  color: black;
  display:inline;
}
.date {
  font-size: 16px;
}

.has_date {
  background: #f2f2f2;
}

.has_no_date {
  background: white;
}

.calendar ul {
  height: 100%;
  padding: 0px 5px 0px 0px;
  list-style: none;
}

.calendar li::before {
  content: ">"; /* Insert content that looks like bullets */
  padding-right: 2px;
  font-weight: bold;
  /*font-stretch: ultra-expanded;*/
  /*font-size: large;*/
}

/*.calendar .Run {
  color: green;
}
.calendar .Ride {
  color: red;
}
.calendar .VirtualRide {
  color: #782902;
}
.calendar .Hike {
  color: #5D994E;
}
.calendar .IceSkate {
  color: #B0ECFA;
}
.calendar .Workout {
  color: #D38954;
}
.calendar .NordicSki {
  color: #072127;
}*/
.calendar a {
  color: #17a2b8;
}
.calendar a:hover {
  color: #0b505b;
}
.calendar .links-arrow {
  color: #4d4d4d;
}

.calendar .links-arrow:hover {
  color: #000000;
  text-decoration: none;
}

/* General customizations */

footer {
  /*background-color: #f2f2f2;*/
  color: black;
}
a {
  color: #666666;
}
a:hover {
  color: #000000;
}
.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}
.clearfix {
  margin: 15px;
}

/* LGA colors */
/*.lga {
  background-color: #ff8033;
}*/

.lga {
  border-top: 3px solid #ff8033;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.15);
}

hr.lga {
  border-top: 1px solid #ff8033;
  box-shadow:0px 1px 4px #ff8033;
  opacity: 0.5;
}

/* Strava colors */
.strava_link {
  color: #FC4C02;
  font-size: 0.5em;
}