{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-sm-2">
            <h4 class="year calendar">
                <a class="links-arrow" href="{% url 'calendarapp:calendar_view' %}?{{ cal.prev_year }}"> << </a>
                &nbsp&nbsp{{ cal.year }}&nbsp&nbsp
                <a class="links-arrow" href="{% url 'calendarapp:calendar_view' %}?{{ cal.next_year }} "> >> </a>
            </h4>
        </div>

        <div class="col-sm-10">
            <a class="float-right" href="{% url 'getactivities:getactivities' %}"> + Get activities </a>
        </div>
         <div class="col col-md-12">
            {{ calendar }}
        </div>
    </div>

{% endblock content %}


