{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if object_list %}
        <div class="row justify-content-md-center">
            <div class="col col-md-10">
                <h3>Activities</h3>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-10">
                <form method="get">
                    {{ filter.form|crispy }}
                    <input type="submit" />
                </form>
            </div>
        </div>
{% comment %}        <form method="get" action="">
            <div class="row justify-content-md-center">

                    <div class="col col-sm-2">
                        <div class="input-group">
                            <input class="form-control" type="text" name="filter_type" placeholder="Filter by type" value="{{ request.GET.filter_type }}">
                        </div>
                    </div>
                    <div class="col col-sm-8">
                        <div class="input-group">
                            <input class="form-control" type="text" name="activity_search" placeholder="Search" value="{{ request.GET.activity_search }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" name="q" type="submit"><i class="fa fa-search"></i> </button>
                                <input class="btn btn-default" type="submit" value="Go">
                            </span>
                        </div>
                    </div>
            </div>
        </form>{% endcomment %}
        <div class="row justify-content-md-center">
            <div class="col col-md-10">
                 <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for a in object_list %}
                            <tr>
                                <td>
                                    <img src="{% static a.type.icon %}" width="24" height="24" class="d-inline-block" alt="{{ a.type.name }}">
                                    {{ a.type.name }}
                                </td>
                                <td>
                                    {{ a.get_date }}
                                </td>
                                <td>
                                    <a href="{% url 'activities:activity-details' a.id %}" >
                                        {{ a.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-md-10">
                <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_request_var }}=1{{ query_string }}">
                                ◀️◀️
                            </a>
                            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{{ query_string }}">
                                previous
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{{ query_string }}">
                                next
                            </a>

                            <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}{{ query_string }}">
                                ▶️▶️
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/activities.js' %}"></script>
{% endblock js %}