{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-md-10">
        {% if activity_list %}
            <h3>Activities</h3>
                <div class="table-responsive">
                    <table class="table"  id="data_table_list">
                        <thead>
                        <tr>
                            <th scope="col">Filter:</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="head">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in activity_list %}
                            <tr>
                                <td>
                                    <img src="{% static a.type.icon %}" width="24" height="24" class="d-inline-block" alt="{{ a.type.name }}">
                                </td>
                                <td>
                                    {{ a.type.name }}
                                </td>
                                <td>
                                    {{ a.get_date }}
                                </td>
                                <td>
                                    <a href="{% url 'activities:activity-details' a.id %}" >
                                        {{ a.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <th scope="col">Type</th>
                            <th scope="col"></th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                        </tfoot>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/datatable.js' %}"></script>
{% endblock js %}