{% extends 'base.html' %}
{% block title %}calendar{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-sm-2 ">
            <a class="btn btn-info" href="{% url 'getactivities:getactivities' %}"> + Get activities </a>
        </div>
         <div class="col-sm-10 inline-group">
            <a class="btn btn-info float-right" href="{% url 'activities:calendar' %}?{{ cal.next_month }} "> Next Month > </a>
            <a class="btn btn-info float-right" href="{% url 'activities:calendar' %}?{{ cal.next_year }} "> >> </a>
            <h3 class="float-right"> {{ cal.year }} </h3>
            <a class="btn btn-info float-right" href="{% url 'activities:calendar' %}?{{ cal.prev_year }}"> << </a>
            <a class="btn btn-info float-right" href="{% url 'activities:calendar' %}?{{ cal.prev_month }}"> < Previous Month </a>
        </div>
         <div class="col col-md-12">
            {{ calendar }}
            <small>&copy; Sajib Hossain (calendar)</small>
        </div>
    </div>
{% endblock content %}