{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-4">
            <h2>
                <img src="{% static object.activity.activity_type.icon %}" width="32" height="32" class="d-inline-block" alt="{{ object.activity.activity_type.type }}">
                {{ object.segment.name }}
                <small>
                    {% if staring %}
                        <a class="btn-staring" title="Segment stared" data-href="{{ object.segment.get_staring_api_url }}" data-staring="{{ object.segment.staring }}" href="#">
                            <img id="staring" src="{% static 'images/bookmark_blue.png' %}" width="24" height="24" class="d-inline-block" alt="Segment stared">
                        </a>
                    {% else %}
                        <a class="btn-staring" title="Segment not stared" data-href="{{ object.segment.get_staring_api_url }}" data-staring="{{ object.segment.staring }}" href="#">
                            <img id="staring" src="{% static 'images/bookmark_blue_outline.png' %}" width="24" height="24" class="d-inline-block" alt="Segment not stared">
                        </a>
                    {% endif %}
                </small>
            </h2>
            <h3> ({{ object.activity.name }}) <span><a href="{{ object.get_strava_url }}"  class="strava_link" target="_blank"> View on Strava</a></span></h3>
            <small>{{ object.activity.start_date_local }}</small>
            <div id="mapid" endpoint="{{ object.segment.map.get_mapdata_api_url }}"></div>
        </div>
        <div class="col col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>This effort: {{ object.get_time }}</th>
                            <th>KOM: {{ object.segment.kom }}</th>
                            <th>QOM: {{ object.segment.qom }}</th>
                            <th>updated: {{ object.segment.updated }}</th>
                        </tr>
                    </thead>
                </table>
            <h3>All efforts</h3>
            {% if efforts %}
                <div class="table-responsive">
                <table class="table" id="data_table">
                    <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for effort in efforts %}
                        <tr {% if effort == object %} class="current_effort" {% endif %}>
                            <td>
                                <a href="{% url "activities:activity-details" effort.activity.id %}" >{{ effort.activity.name }}
                                <small>{{ effort.activity.get_date }}</small>
                                </a>
                            <td>{{ effort.get_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col">
            <br>
            <hr>
            <h3>All efforts</h3>
            <div id="recent_efforts_chart" style="height:400px;" endpoint="{{ object.segment.get_plotdata_api_url }}"></div>
            <hr>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/activities.js' %}"></script>
{% endblock js %}