{% extends 'base.html' %}
{% load static %}
{% load segment_user %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-md-10">
        {% if segment_list %}
            <h3>Segments</h3>
                <div class="table-responsive">
                    <table class="table table-striped" style="width:100%" id="data_table_list">
                        <thead>
                            <tr>
                                <th scope="col">Filter:</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Type</th>
                                <th scope="col">Name</th>
                                <th scope="col"># efforts</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for s in segment_list %}
                            <tr>
                                <td>
                                    {{ s.id }}
                                </td>
                                <td>
                                    <img src="{% static s.type.icon %}" width="24" height="24" class="d-inline-block">
                                </td>
                                <td>
                                    {{ s.type.name }}
                                </td>
                                <td>
                                    <a href="{% url 'activities:segment-details' s.id %}">
                                        {{ s.name }}
                                    </a>
                                </td>
                                <td>
                                    {% get_number_efforts s user %}
                                </td>
                                <td>
                                     <a class="badge bg-strava rounded-pill" href="{{ s.get_strava_url }}" target="_blank">view in Strava</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                            <th scope="col"># efforts</th>
                            <th scope="col"></th>
                        </tfoot>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/datatable.js' %}"></script>
{% endblock js %}
