{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col col-md-4">
            <h2>{{ segment.name }}
                <small>
                    {% if this_effort.segment.staring %}
                        <a class="btn-staring" title="Segment stared" data-href="{{ segment.get_staring_api_url }}" data-staring="{{ this_effort.segment.staring }}" href="#"><i class="fas fa-bookmark" aria-hidden="true" ></i></a>
                    {% else %}
                        <a class="btn-staring" title="Segment not stared" data-href="{{ segment.get_staring_api_url }}" data-staring="{{ this_effort.segment.staring }}" href="#"><i class="far fa-bookmark" aria-hidden="true" ></i></a>
                    {% endif %}
                </small>
            </h2>
            <h3> ({{ activity.name }}) <span><a href="{{ this_effort.get_strava_url }}"  class="strava_link" target="_blank"> View on Strava</a></span></h3>
            <small>{{ activity.start_date_local }}</small>
            <input type="hidden" id="leafletCenter" value="{{ center }}">
            <input type="hidden" id="leafletCoord" value="{{ coord }}">
            <div id="mapid"></div>
        </div>
        <div class="col col-md-8">
            <h3>This effort: {{ this_effort.get_time }}</h3>
            <h3>All efforts</h3>
            {% if efforts %}
                <div class="table-responsive">
                <table class="table" id="efforts_table">
                    <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for effort in efforts %}
                        <tr {% if effort == this_effort %} class="current_effort" {% endif %}>
                            <td>
                                <a href="{% url "activities:activity-details" effort.activity.id %}" >{{ effort.activity.name }}</a>
                                <small>{{ effort.activity.start_date_local }}</small>
                            <td>{{ effort.get_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/activities.js' %}"></script>
{% endblock js %}