{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-12">
        {% if staredsegment_list %}
            <h3>Stared segments</h3>
            <br>
                <div class="table-responsive">
                    <table class="table" id="data_table_list">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col" class="head" ></th>
                                <th scope="col">Name</th>
                                <th scope="col"># efforts</th>
                                <th scope="col">Personal best</th>
                                <th scope="col">Last effort</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ss in staredsegment_list %}
                            <tr>
                                <td>
                                    <img src="{% static ss.segment.type.icon %}" width="24" height="24" class="d-inline-block" alt="{{ ss.serializable_value.type.name }}">
                                </td>
                                <td>
                                    {{ ss.segment.type.name }}
                                </td>
                                <td>
                                    <a href="{{ ss.segment.get_absolute_url }}">
                                        {{ ss.segment.name }}
                                    </a>
                                </td>
                                <td>{{ ss.get_number_efforts }}</td>
                                <td>
                                    <a href="{% url 'activities:activity-details' ss.get_best_effort.activity_id %}" >
                                        {{ ss.get_best_effort.get_time }} <small> {{ ss.get_best_effort.activity.name }} - {{ ss.get_best_effort.get_date }}</small>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'activities:activity-details' ss.get_last_effort.activity_id %}" >
                                        {{ ss.get_last_effort.activity.name }} <small> {{ ss.get_last_effort.get_date }}</small>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                                <th scope="col">Type</th>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col"># efforts</th>
                                <th scope="col">Best time</th>
                                <th scope="col">Last effort</th>
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <h3>You are not staring at any segments</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/activities.js' %}"></script>
{% endblock js %}