{% load static %}

<footer class="footer">
    <hr class="lga">
    <div class="container-fluid">
        <p>
            <a href="mailto:lgalarno@outlook.com">
                &copy; 2021 Luc Galarneau
            </a>
            <a href="https://github.com/lgalarno">
                <img src="{% static 'images/GitHub-Mark/PNG/GitHub-Mark-32px.png' %}" width="16" height="16" class="d-inline-block" alt="GitHub">
            </a>
        </p>
        <a href="https://github.com/sajib1066/event-calendar"><small>&copy; Sajib Hossain (calendar)</small></a>
        <br>
    </div>
{#    <hr class="lga">#}
</footer>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

 <!--datatables with Bootstrap 4 -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

