{% load static %}

<nav class="navbar navbar-expand-lg navbar-light lga">
    <a class="navbar-brand" href="{% url 'main' %}">LGActivities</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" width="43" class="d-inline-block rounded-circle" alt="avatar">
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'profiles:EditProfile' %}"><i class="far fa-id-card"></i> Profile</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'images/calendar_col.png' %}" width="24" height="24" class="d-inline-block" alt="calendar">
                         Calendar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'calendarapp:calendar_view' %}"><i class="fa fa-calendar-alt fa-sm" aria-hidden="true"></i> View</a>
                        <a class="dropdown-item" href="{% url 'getactivities:getactivities' %}"><i class="far fa-calendar-plus"></i> Get activities</a>
                        <a class="dropdown-item" href="{% url 'getactivities:import_task_view' %}"><i class="fa fa-tasks"></i> Import your activities</a>
                        <a class="dropdown-item" href="{% url 'getactivities:sync_task_view' %}"><i class="fas fa-sync-alt"></i> Synchronize your activities</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'activities:stared-segments' %}" title="Stared segments">
                        <img src="{% static 'images/bookmark_blue.png' %}" width="24" height="24" class="d-inline-block" alt="Stared segments">
                         Stared segments
                    </a>
                </li>
            </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
            <li class="nav nav-item">
                <a class="nav-link" href=
                {% if not request.user.is_authenticated and not "login" in request.get_full_path %}
                    "/accounts/strava/login/?process=login">Log in with Strava
                {% else %}
                    "https://www.strava.com/">
                {% endif %}
                <img src="{% static 'images/Strava/api_logo_pwrdBy_strava_stack_white.png' %}" width="93" height="40" class="d-inline-block" alt="Powered by Strava">
                </a>
            </li>
        </ul>
    </div>
</nav>
