{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff8033;">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/api_logo_pwrdBy_strava_stack_white.png' %}" width="100" height="43" class="d-inline-block" alt="Powered by Strava"> LGActivities</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'getactivities:listactivities' %}">About</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'activities:calendar' %}">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'activities:stared-segments' %}">Stared Segments</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.email }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'connections:requestcode' %}">Connect to Strava</a>
{% comment %}                        <a class="dropdown-item" href="{% url 'activities:calendar' %}">Calendar</a>
                        <a class="dropdown-item" href="{% url 'activities:stared-segments' %}">Stared Segments</a>{% endcomment %}
                        <a class="dropdown-item" href="{% url 'getactivities:lastactivity' %}">Last Activity</a>
                        <a class="dropdown-item" href="{% url 'getactivities:getactivities' %}">Get Activities</a>
                        <a class="dropdown-item" href="{% url 'getactivities:listactivities' %}">List Activities</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        {% if not request.user.is_authenticated and not "login" in request.get_full_path %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'home' %}{% endif %}" />
                <div class="form-group">
                    <input class="form-control mr-sm-2" type="text" name='login' placeholder='Email'>
                </div>
                <div class="form-group">
                    <input class="form-control mr-sm-2" type="password" name='password' placeholder='Password'>
                </div>
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign in</button>
            </form>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav nav-item navbar-right"><a class="nav-link" href="{% if request.user.is_authenticated %}{% url 'account_logout' %}">Logout{% else %}{% url 'account_signup' %}">Register{% endif %}</a></li>
        </ul>

    </div>

</nav>
